@import url("photographer.css");
:root {
    --color-primary: #901c1c;
    --color-secondary: #D3573C;
    --black-primary: #525252;

}
body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding-bottom: 90px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: var(--color-primary);
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}
/* wrapper main photographer*/
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* link photographer page-index*/

.wrapper-link-photographer {
    text-decoration: none;
    text-align: center;
}
.name-photographer {
    color: var(--color-secondary);
    font-size: 36px;
    margin-bottom: 5px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    clip-path:ellipse(50% 50%);
}
.photographer_section article p {
    margin-top: 0;
    margin-bottom: 2px;
}
.photographer-location {
    color: var(--color-primary);
    font-weight: bolder;
}
.photographer-profil {
    color: black;
    font-weight: bolder;
}
.photographer-price {
    color: var(--black-primary);
}