:root {
    
    --color-primary: #901c1c;
    --color-secondary: #D3573C;
    --color-white : #FAFAFA;
    --black-primary: #525252;
    
    /*BUTTON*/
    --btn-static-color: #FAFAFA;
    --btn-static-bg: #901c1c;
    
    --btn-static-color: #525252;
    --btn-static-bg: #D3573C;

}