
@media only screen and (max-width: 1160px) {
    #wrapper-cards {
        padding-left: 50px;
        padding-right: 50px;
    }

    .card {
        max-width: 400px;
    }
}

@media only screen and (max-width: 620px) {
    #wrapper-cards {
        padding-left: 20px;
        padding-right: 20px;
    }
}

