/* HEADER */
/*.photograph-header {}*/

.section-wrapper-header {
    background-color: $color-white;
    height: 300px;
    margin: 0 100px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

/* BOX HEADER ONE */
#one {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    padding-left: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

#photographe-page-header_h2 {
    margin-top: 0;
    color: $color-secondary;
    font-size: 60px;
    margin-bottom: 20px;

}

#photographe-page-header_location {
    margin: 0;
    margin-bottom: 10px;
    color: $color-primary;
    font-weight: bolder;

}

#photographe-page-header_tagline {
    margin: 0;
}

/* BOX HEADER TWO */
#two {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $color-primary;
    border-radius: 5px;
    cursor: pointer;
}

/* BOX HEADER THREE */
#three {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
}

#header-page-photographer_image {
    height: 200px;
    width: 200px;
    -webkit-clip-path: ellipse(50% 50%);
    clip-path: ellipse(50% 50%);
    object-fit: cover;
}