/* SECTION LIGHTBOX */
@keyframes zoom {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

#s-lightbox {   
    display: none;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    background-color: #ffffff;
    z-index: 99;
}

.container-slider {
    display: flex;
    height: 90%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/*  .wrapper-item{}  */
.item {
    display: none;
}

.item.active {
    display: flex;
    overflow: hidden;
    align-items: center;

    justify-content: center;
    max-height: 60vh;
}

.item-media {
    display: flex;
    align-self: center;
    height: 100%;
    object-fit: cover;
    max-height: 60vh;
    animation: zoom 1s ease-in-out;
}

.lightbox-close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10%;
    height: 10%;
}

.lightbox-close .fa-xmark {
    color: var(--color-primary);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    transition: all .5s ease;

}

.lightbox-close .fa-xmark:hover,
.lightbox-close .fa-xmark:focus {
    box-shadow: 0px 0px 10px #000000;
}

.lightbox-left,
.lightbox-right {
    color: var(--color-primary);

    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    font-size: 35px;
    transition: all .5s ease;
}

.lightbox-left:hover,
.lightbox-right:hover,
.lightbox-left:focus,
.lightbox-right:focus {
    box-shadow: 0px 0px 10px #000000;
}